.generalMovieInfoMD {
  display: flex;
  align-items: center;
}

.generalMovieInfoXS {
  display: block;
}

.marginH {
  margin-left: 16px;
  margin-right: 16px;
}

.marginXS {
  margin-top: 8px;
  margin-bottom: 8px;
}

.flexCentered {
  display: flex;
  justify-content: center;
  align-items: center;
}
