.detail {
  color: #fff;
  overflow-Y: scroll;
  position: relative;
  height: 85vh;
  display: block;
}

.movieBg {
  opacity: 0.3;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 85vh;
}

.container {
  position: relative;
  color: #fff;
  background-size: 100%;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}

.previewContainer {
  height: 100%;
}

.movieContent {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 64px;
  
}

.previewImage {
  max-width: 90%;
  height: 70%;
  width: auto;
}

.infoContainer {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
}

.info {
  display: block;
}

.movieTitle {
  margin: 0;
  text-align: start;
}

.movieDescription {
  margin: 0;
}

.marginH {
  margin-left: 16px;
  margin-right: 16px;
}

.talentName {
  font-weight: 300;
}

.backButton{
  display: flex;
  justify-content: flex-start;
  padding: 16px;
  position: absolute;
  left: 10px;
  top: 0;
  z-index: 2;  
}